<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.project.dao.GoodsBrandMapper" >
  <resultMap id="BaseResultMap" type="com.company.project.model.GoodsBrand" >
    <id column="brand_id" property="brandId" jdbcType="VARCHAR" />
    <result column="brand_show_id" property="brandShowId" jdbcType="VARCHAR" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="brand_sort" property="brandSort" jdbcType="INTEGER" />
    <result column="brand_desc" property="brandDesc" jdbcType="VARCHAR" />
    <result column="brand_status" property="brandStatus" jdbcType="TINYINT" />
    <result column="brand_create_time" property="brandCreateTime" jdbcType="TIMESTAMP" />
    <result column="brand_modified_time" property="brandModifiedTime" jdbcType="TIMESTAMP" />
    <result column="brand_delflag" property="brandDelflag" jdbcType="TINYINT" />
    <result column="brand_del_time" property="brandDelTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    brand_id, brand_show_id, brand_name, brand_sort, brand_desc, brand_status, brand_create_time, 
    brand_modified_time, brand_delflag, brand_del_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.company.project.model.GoodsBrandExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from goods_brand
    where brand_id = #{brandId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from goods_brand
    where brand_id = #{brandId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.company.project.model.GoodsBrandExample" >
    delete from goods_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.company.project.model.GoodsBrand" >
    insert into goods_brand (brand_id, brand_show_id, brand_name, 
      brand_sort, brand_desc, brand_status, 
      brand_create_time, brand_modified_time, 
      brand_delflag, brand_del_time)
    values (#{brandId,jdbcType=VARCHAR}, #{brandShowId,jdbcType=VARCHAR}, #{brandName,jdbcType=VARCHAR}, 
      #{brandSort,jdbcType=INTEGER}, #{brandDesc,jdbcType=VARCHAR}, #{brandStatus,jdbcType=TINYINT}, 
      #{brandCreateTime,jdbcType=TIMESTAMP}, #{brandModifiedTime,jdbcType=TIMESTAMP}, 
      #{brandDelflag,jdbcType=TINYINT}, #{brandDelTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.company.project.model.GoodsBrand" >
    insert into goods_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="brandShowId != null" >
        brand_show_id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="brandSort != null" >
        brand_sort,
      </if>
      <if test="brandDesc != null" >
        brand_desc,
      </if>
      <if test="brandStatus != null" >
        brand_status,
      </if>
      <if test="brandCreateTime != null" >
        brand_create_time,
      </if>
      <if test="brandModifiedTime != null" >
        brand_modified_time,
      </if>
      <if test="brandDelflag != null" >
        brand_delflag,
      </if>
      <if test="brandDelTime != null" >
        brand_del_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brandId != null" >
        #{brandId,jdbcType=VARCHAR},
      </if>
      <if test="brandShowId != null" >
        #{brandShowId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandSort != null" >
        #{brandSort,jdbcType=INTEGER},
      </if>
      <if test="brandDesc != null" >
        #{brandDesc,jdbcType=VARCHAR},
      </if>
      <if test="brandStatus != null" >
        #{brandStatus,jdbcType=TINYINT},
      </if>
      <if test="brandCreateTime != null" >
        #{brandCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brandModifiedTime != null" >
        #{brandModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brandDelflag != null" >
        #{brandDelflag,jdbcType=TINYINT},
      </if>
      <if test="brandDelTime != null" >
        #{brandDelTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.company.project.model.GoodsBrandExample" resultType="java.lang.Integer" >
    select count(*) from goods_brand
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods_brand
    <set >
      <if test="record.brandId != null" >
        brand_id = #{record.brandId,jdbcType=VARCHAR},
      </if>
      <if test="record.brandShowId != null" >
        brand_show_id = #{record.brandShowId,jdbcType=VARCHAR},
      </if>
      <if test="record.brandName != null" >
        brand_name = #{record.brandName,jdbcType=VARCHAR},
      </if>
      <if test="record.brandSort != null" >
        brand_sort = #{record.brandSort,jdbcType=INTEGER},
      </if>
      <if test="record.brandDesc != null" >
        brand_desc = #{record.brandDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.brandStatus != null" >
        brand_status = #{record.brandStatus,jdbcType=TINYINT},
      </if>
      <if test="record.brandCreateTime != null" >
        brand_create_time = #{record.brandCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.brandModifiedTime != null" >
        brand_modified_time = #{record.brandModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.brandDelflag != null" >
        brand_delflag = #{record.brandDelflag,jdbcType=TINYINT},
      </if>
      <if test="record.brandDelTime != null" >
        brand_del_time = #{record.brandDelTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods_brand
    set brand_id = #{record.brandId,jdbcType=VARCHAR},
      brand_show_id = #{record.brandShowId,jdbcType=VARCHAR},
      brand_name = #{record.brandName,jdbcType=VARCHAR},
      brand_sort = #{record.brandSort,jdbcType=INTEGER},
      brand_desc = #{record.brandDesc,jdbcType=VARCHAR},
      brand_status = #{record.brandStatus,jdbcType=TINYINT},
      brand_create_time = #{record.brandCreateTime,jdbcType=TIMESTAMP},
      brand_modified_time = #{record.brandModifiedTime,jdbcType=TIMESTAMP},
      brand_delflag = #{record.brandDelflag,jdbcType=TINYINT},
      brand_del_time = #{record.brandDelTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.project.model.GoodsBrand" >
    update goods_brand
    <set >
      <if test="brandShowId != null" >
        brand_show_id = #{brandShowId,jdbcType=VARCHAR},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="brandSort != null" >
        brand_sort = #{brandSort,jdbcType=INTEGER},
      </if>
      <if test="brandDesc != null" >
        brand_desc = #{brandDesc,jdbcType=VARCHAR},
      </if>
      <if test="brandStatus != null" >
        brand_status = #{brandStatus,jdbcType=TINYINT},
      </if>
      <if test="brandCreateTime != null" >
        brand_create_time = #{brandCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brandModifiedTime != null" >
        brand_modified_time = #{brandModifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="brandDelflag != null" >
        brand_delflag = #{brandDelflag,jdbcType=TINYINT},
      </if>
      <if test="brandDelTime != null" >
        brand_del_time = #{brandDelTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where brand_id = #{brandId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.project.model.GoodsBrand" >
    update goods_brand
    set brand_show_id = #{brandShowId,jdbcType=VARCHAR},
      brand_name = #{brandName,jdbcType=VARCHAR},
      brand_sort = #{brandSort,jdbcType=INTEGER},
      brand_desc = #{brandDesc,jdbcType=VARCHAR},
      brand_status = #{brandStatus,jdbcType=TINYINT},
      brand_create_time = #{brandCreateTime,jdbcType=TIMESTAMP},
      brand_modified_time = #{brandModifiedTime,jdbcType=TIMESTAMP},
      brand_delflag = #{brandDelflag,jdbcType=TINYINT},
      brand_del_time = #{brandDelTime,jdbcType=TIMESTAMP}
    where brand_id = #{brandId,jdbcType=VARCHAR}
  </update>
</mapper>