<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.project.dao.GoodsTypeMapper" >
  <resultMap id="BaseResultMap" type="com.company.project.model.GoodsType" >
    <id column="type_id" property="typeId" jdbcType="VARCHAR" />
    <result column="type_show_id" property="typeShowId" jdbcType="VARCHAR" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="type_desc" property="typeDesc" jdbcType="VARCHAR" />
    <result column="type_status" property="typeStatus" jdbcType="TINYINT" />
    <result column="type_sort" property="typeSort" jdbcType="INTEGER" />
    <result column="type_create_time" property="typeCreateTime" jdbcType="TIMESTAMP" />
    <result column="type_update_time" property="typeUpdateTime" jdbcType="TIMESTAMP" />
    <result column="type_delflag" property="typeDelflag" jdbcType="TINYINT" />
    <result column="type_del_time" property="typeDelTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    type_id, type_show_id, type_name, type_desc, type_status, type_sort, type_create_time, 
    type_update_time, type_delflag, type_del_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.company.project.model.GoodsTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from goods_type
    where type_id = #{typeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from goods_type
    where type_id = #{typeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.company.project.model.GoodsTypeExample" >
    delete from goods_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.company.project.model.GoodsType" >
    insert into goods_type (type_id, type_show_id, type_name, 
      type_desc, type_status, type_sort, 
      type_create_time, type_update_time, type_delflag, 
      type_del_time)
    values (#{typeId,jdbcType=VARCHAR}, #{typeShowId,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{typeDesc,jdbcType=VARCHAR}, #{typeStatus,jdbcType=TINYINT}, #{typeSort,jdbcType=INTEGER}, 
      #{typeCreateTime,jdbcType=TIMESTAMP}, #{typeUpdateTime,jdbcType=TIMESTAMP}, #{typeDelflag,jdbcType=TINYINT}, 
      #{typeDelTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.company.project.model.GoodsType" >
    insert into goods_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeShowId != null" >
        type_show_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="typeDesc != null" >
        type_desc,
      </if>
      <if test="typeStatus != null" >
        type_status,
      </if>
      <if test="typeSort != null" >
        type_sort,
      </if>
      <if test="typeCreateTime != null" >
        type_create_time,
      </if>
      <if test="typeUpdateTime != null" >
        type_update_time,
      </if>
      <if test="typeDelflag != null" >
        type_delflag,
      </if>
      <if test="typeDelTime != null" >
        type_del_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="typeShowId != null" >
        #{typeShowId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null" >
        #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="typeStatus != null" >
        #{typeStatus,jdbcType=TINYINT},
      </if>
      <if test="typeSort != null" >
        #{typeSort,jdbcType=INTEGER},
      </if>
      <if test="typeCreateTime != null" >
        #{typeCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeUpdateTime != null" >
        #{typeUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeDelflag != null" >
        #{typeDelflag,jdbcType=TINYINT},
      </if>
      <if test="typeDelTime != null" >
        #{typeDelTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.company.project.model.GoodsTypeExample" resultType="java.lang.Integer" >
    select count(*) from goods_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods_type
    <set >
      <if test="record.typeId != null" >
        type_id = #{record.typeId,jdbcType=VARCHAR},
      </if>
      <if test="record.typeShowId != null" >
        type_show_id = #{record.typeShowId,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null" >
        type_name = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.typeDesc != null" >
        type_desc = #{record.typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.typeStatus != null" >
        type_status = #{record.typeStatus,jdbcType=TINYINT},
      </if>
      <if test="record.typeSort != null" >
        type_sort = #{record.typeSort,jdbcType=INTEGER},
      </if>
      <if test="record.typeCreateTime != null" >
        type_create_time = #{record.typeCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.typeUpdateTime != null" >
        type_update_time = #{record.typeUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.typeDelflag != null" >
        type_delflag = #{record.typeDelflag,jdbcType=TINYINT},
      </if>
      <if test="record.typeDelTime != null" >
        type_del_time = #{record.typeDelTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods_type
    set type_id = #{record.typeId,jdbcType=VARCHAR},
      type_show_id = #{record.typeShowId,jdbcType=VARCHAR},
      type_name = #{record.typeName,jdbcType=VARCHAR},
      type_desc = #{record.typeDesc,jdbcType=VARCHAR},
      type_status = #{record.typeStatus,jdbcType=TINYINT},
      type_sort = #{record.typeSort,jdbcType=INTEGER},
      type_create_time = #{record.typeCreateTime,jdbcType=TIMESTAMP},
      type_update_time = #{record.typeUpdateTime,jdbcType=TIMESTAMP},
      type_delflag = #{record.typeDelflag,jdbcType=TINYINT},
      type_del_time = #{record.typeDelTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.project.model.GoodsType" >
    update goods_type
    <set >
      <if test="typeShowId != null" >
        type_show_id = #{typeShowId,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeDesc != null" >
        type_desc = #{typeDesc,jdbcType=VARCHAR},
      </if>
      <if test="typeStatus != null" >
        type_status = #{typeStatus,jdbcType=TINYINT},
      </if>
      <if test="typeSort != null" >
        type_sort = #{typeSort,jdbcType=INTEGER},
      </if>
      <if test="typeCreateTime != null" >
        type_create_time = #{typeCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeUpdateTime != null" >
        type_update_time = #{typeUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeDelflag != null" >
        type_delflag = #{typeDelflag,jdbcType=TINYINT},
      </if>
      <if test="typeDelTime != null" >
        type_del_time = #{typeDelTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where type_id = #{typeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.project.model.GoodsType" >
    update goods_type
    set type_show_id = #{typeShowId,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      type_desc = #{typeDesc,jdbcType=VARCHAR},
      type_status = #{typeStatus,jdbcType=TINYINT},
      type_sort = #{typeSort,jdbcType=INTEGER},
      type_create_time = #{typeCreateTime,jdbcType=TIMESTAMP},
      type_update_time = #{typeUpdateTime,jdbcType=TIMESTAMP},
      type_delflag = #{typeDelflag,jdbcType=TINYINT},
      type_del_time = #{typeDelTime,jdbcType=TIMESTAMP}
    where type_id = #{typeId,jdbcType=VARCHAR}
  </update>
</mapper>