<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.xx.dao.GoodsOrderShippingMapper">
  <resultMap id="BaseResultMap" type="com.company.project.xx.model.GoodsOrderShipping">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="shipping_id" jdbcType="VARCHAR" property="shippingId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="shipping_customer_name" jdbcType="VARCHAR" property="shippingCustomerName" />
    <result column="shipping_customer_telephone" jdbcType="VARCHAR" property="shippingCustomerTelephone" />
    <result column="shipping_area_detail" jdbcType="VARCHAR" property="shippingAreaDetail" />
    <result column="shipping_create_time" jdbcType="TIMESTAMP" property="shippingCreateTime" />
    <result column="shipping_update_time" jdbcType="TIMESTAMP" property="shippingUpdateTime" />
    <result column="shipping_type" jdbcType="CHAR" property="shippingType" />
    <result column="shipping_name" jdbcType="VARCHAR" property="shippingName" />
    <result column="shipping_code" jdbcType="VARCHAR" property="shippingCode" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.company.project.model.GoodsOrderShipping">
    <id column="shipping_id" jdbcType="VARCHAR" property="shippingId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="shipping_customer_name" jdbcType="VARCHAR" property="shippingCustomerName" />
    <result column="shipping_customer_telephone" jdbcType="VARCHAR" property="shippingCustomerTelephone" />
    <result column="shipping_area_detail" jdbcType="VARCHAR" property="shippingAreaDetail" />
    <result column="shipping_create_time" jdbcType="TIMESTAMP" property="shippingCreateTime" />
    <result column="shipping_update_time" jdbcType="TIMESTAMP" property="shippingUpdateTime" />
    <result column="shipping_type" jdbcType="CHAR" property="shippingType" />
    <result column="shipping_name" jdbcType="VARCHAR" property="shippingName" />
    <result column="shipping_code" jdbcType="VARCHAR" property="shippingCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    shipping_id, order_id, shipping_customer_name, shipping_customer_telephone, shipping_area_detail, 
    shipping_create_time, shipping_update_time, shipping_type, shipping_name, shipping_code
  </sql>
  <select id="selectByExample" parameterType="com.company.project.model.GoodsOrderShippingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods_order_shipping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_order_shipping
    where shipping_id = #{shippingId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods_order_shipping
    where shipping_id = #{shippingId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.company.project.model.GoodsOrderShippingExample">
    delete from goods_order_shipping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.company.project.model.GoodsOrderShipping">
    insert into goods_order_shipping (shipping_id, order_id, shipping_customer_name, 
      shipping_customer_telephone, shipping_area_detail, 
      shipping_create_time, shipping_update_time, 
      shipping_type, shipping_name, shipping_code
      )
    values (#{shippingId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{shippingCustomerName,jdbcType=VARCHAR}, 
      #{shippingCustomerTelephone,jdbcType=VARCHAR}, #{shippingAreaDetail,jdbcType=VARCHAR}, 
      #{shippingCreateTime,jdbcType=TIMESTAMP}, #{shippingUpdateTime,jdbcType=TIMESTAMP}, 
      #{shippingType,jdbcType=CHAR}, #{shippingName,jdbcType=VARCHAR}, #{shippingCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.project.model.GoodsOrderShipping">
    insert into goods_order_shipping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shippingId != null">
        shipping_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="shippingCustomerName != null">
        shipping_customer_name,
      </if>
      <if test="shippingCustomerTelephone != null">
        shipping_customer_telephone,
      </if>
      <if test="shippingAreaDetail != null">
        shipping_area_detail,
      </if>
      <if test="shippingCreateTime != null">
        shipping_create_time,
      </if>
      <if test="shippingUpdateTime != null">
        shipping_update_time,
      </if>
      <if test="shippingType != null">
        shipping_type,
      </if>
      <if test="shippingName != null">
        shipping_name,
      </if>
      <if test="shippingCode != null">
        shipping_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shippingId != null">
        #{shippingId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="shippingCustomerName != null">
        #{shippingCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="shippingCustomerTelephone != null">
        #{shippingCustomerTelephone,jdbcType=VARCHAR},
      </if>
      <if test="shippingAreaDetail != null">
        #{shippingAreaDetail,jdbcType=VARCHAR},
      </if>
      <if test="shippingCreateTime != null">
        #{shippingCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingUpdateTime != null">
        #{shippingUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingType != null">
        #{shippingType,jdbcType=CHAR},
      </if>
      <if test="shippingName != null">
        #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingCode != null">
        #{shippingCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.company.project.model.GoodsOrderShippingExample" resultType="java.lang.Integer">
    select count(*) from goods_order_shipping
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods_order_shipping
    <set>
      <if test="record.shippingId != null">
        shipping_id = #{record.shippingId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingCustomerName != null">
        shipping_customer_name = #{record.shippingCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingCustomerTelephone != null">
        shipping_customer_telephone = #{record.shippingCustomerTelephone,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingAreaDetail != null">
        shipping_area_detail = #{record.shippingAreaDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingCreateTime != null">
        shipping_create_time = #{record.shippingCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shippingUpdateTime != null">
        shipping_update_time = #{record.shippingUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shippingType != null">
        shipping_type = #{record.shippingType,jdbcType=CHAR},
      </if>
      <if test="record.shippingName != null">
        shipping_name = #{record.shippingName,jdbcType=VARCHAR},
      </if>
      <if test="record.shippingCode != null">
        shipping_code = #{record.shippingCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods_order_shipping
    set shipping_id = #{record.shippingId,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      shipping_customer_name = #{record.shippingCustomerName,jdbcType=VARCHAR},
      shipping_customer_telephone = #{record.shippingCustomerTelephone,jdbcType=VARCHAR},
      shipping_area_detail = #{record.shippingAreaDetail,jdbcType=VARCHAR},
      shipping_create_time = #{record.shippingCreateTime,jdbcType=TIMESTAMP},
      shipping_update_time = #{record.shippingUpdateTime,jdbcType=TIMESTAMP},
      shipping_type = #{record.shippingType,jdbcType=CHAR},
      shipping_name = #{record.shippingName,jdbcType=VARCHAR},
      shipping_code = #{record.shippingCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.project.model.GoodsOrderShipping">
    update goods_order_shipping
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="shippingCustomerName != null">
        shipping_customer_name = #{shippingCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="shippingCustomerTelephone != null">
        shipping_customer_telephone = #{shippingCustomerTelephone,jdbcType=VARCHAR},
      </if>
      <if test="shippingAreaDetail != null">
        shipping_area_detail = #{shippingAreaDetail,jdbcType=VARCHAR},
      </if>
      <if test="shippingCreateTime != null">
        shipping_create_time = #{shippingCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingUpdateTime != null">
        shipping_update_time = #{shippingUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shippingType != null">
        shipping_type = #{shippingType,jdbcType=CHAR},
      </if>
      <if test="shippingName != null">
        shipping_name = #{shippingName,jdbcType=VARCHAR},
      </if>
      <if test="shippingCode != null">
        shipping_code = #{shippingCode,jdbcType=VARCHAR},
      </if>
    </set>
    where shipping_id = #{shippingId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.project.model.GoodsOrderShipping">
    update goods_order_shipping
    set order_id = #{orderId,jdbcType=VARCHAR},
      shipping_customer_name = #{shippingCustomerName,jdbcType=VARCHAR},
      shipping_customer_telephone = #{shippingCustomerTelephone,jdbcType=VARCHAR},
      shipping_area_detail = #{shippingAreaDetail,jdbcType=VARCHAR},
      shipping_create_time = #{shippingCreateTime,jdbcType=TIMESTAMP},
      shipping_update_time = #{shippingUpdateTime,jdbcType=TIMESTAMP},
      shipping_type = #{shippingType,jdbcType=CHAR},
      shipping_name = #{shippingName,jdbcType=VARCHAR},
      shipping_code = #{shippingCode,jdbcType=VARCHAR}
    where shipping_id = #{shippingId,jdbcType=VARCHAR}
  </update>
</mapper>