<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.project.dao.SysActivityMapper" >
  <resultMap id="BaseResultMap" type="com.company.project.model.SysActivity" >
    <id column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="activity_take_count" property="activityTakeCount" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="activity_status" property="activityStatus" jdbcType="TINYINT" />
    <result column="first_money" property="firstMoney" jdbcType="DECIMAL" />
    <result column="first_ratio" property="firstRatio" jdbcType="INTEGER" />
    <result column="second_money" property="secondMoney" jdbcType="DECIMAL" />
    <result column="second_ratio" property="secondRatio" jdbcType="INTEGER" />
    <result column="third_money" property="thirdMoney" jdbcType="DECIMAL" />
    <result column="third_ratio" property="thirdRatio" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    activity_id, activity_name, activity_take_count, create_time, delete_flag, end_time, 
    modified_time, pic, start_time, activity_status, first_money, first_ratio, second_money, 
    second_ratio, third_money, third_ratio
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.company.project.model.SysActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.company.project.model.SysActivityExample" >
    delete from sys_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.company.project.model.SysActivity" >
    insert into sys_activity (activity_id, activity_name, activity_take_count, 
      create_time, delete_flag, end_time, 
      modified_time, pic, start_time, 
      activity_status, first_money, first_ratio, 
      second_money, second_ratio, third_money, 
      third_ratio)
    values (#{activityId,jdbcType=INTEGER}, #{activityName,jdbcType=VARCHAR}, #{activityTakeCount,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=TINYINT}, #{endTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{pic,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{activityStatus,jdbcType=TINYINT}, #{firstMoney,jdbcType=DECIMAL}, #{firstRatio,jdbcType=INTEGER}, 
      #{secondMoney,jdbcType=DECIMAL}, #{secondRatio,jdbcType=INTEGER}, #{thirdMoney,jdbcType=DECIMAL}, 
      #{thirdRatio,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.company.project.model.SysActivity" >
    insert into sys_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="activityName != null" >
        activity_name,
      </if>
      <if test="activityTakeCount != null" >
        activity_take_count,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="activityStatus != null" >
        activity_status,
      </if>
      <if test="firstMoney != null" >
        first_money,
      </if>
      <if test="firstRatio != null" >
        first_ratio,
      </if>
      <if test="secondMoney != null" >
        second_money,
      </if>
      <if test="secondRatio != null" >
        second_ratio,
      </if>
      <if test="thirdMoney != null" >
        third_money,
      </if>
      <if test="thirdRatio != null" >
        third_ratio,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="activityName != null" >
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityTakeCount != null" >
        #{activityTakeCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityStatus != null" >
        #{activityStatus,jdbcType=TINYINT},
      </if>
      <if test="firstMoney != null" >
        #{firstMoney,jdbcType=DECIMAL},
      </if>
      <if test="firstRatio != null" >
        #{firstRatio,jdbcType=INTEGER},
      </if>
      <if test="secondMoney != null" >
        #{secondMoney,jdbcType=DECIMAL},
      </if>
      <if test="secondRatio != null" >
        #{secondRatio,jdbcType=INTEGER},
      </if>
      <if test="thirdMoney != null" >
        #{thirdMoney,jdbcType=DECIMAL},
      </if>
      <if test="thirdRatio != null" >
        #{thirdRatio,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.company.project.model.SysActivityExample" resultType="java.lang.Integer" >
    select count(*) from sys_activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_activity
    <set >
      <if test="record.activityId != null" >
        activity_id = #{record.activityId,jdbcType=INTEGER},
      </if>
      <if test="record.activityName != null" >
        activity_name = #{record.activityName,jdbcType=VARCHAR},
      </if>
      <if test="record.activityTakeCount != null" >
        activity_take_count = #{record.activityTakeCount,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteFlag != null" >
        delete_flag = #{record.deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedTime != null" >
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pic != null" >
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activityStatus != null" >
        activity_status = #{record.activityStatus,jdbcType=TINYINT},
      </if>
      <if test="record.firstMoney != null" >
        first_money = #{record.firstMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.firstRatio != null" >
        first_ratio = #{record.firstRatio,jdbcType=INTEGER},
      </if>
      <if test="record.secondMoney != null" >
        second_money = #{record.secondMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.secondRatio != null" >
        second_ratio = #{record.secondRatio,jdbcType=INTEGER},
      </if>
      <if test="record.thirdMoney != null" >
        third_money = #{record.thirdMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.thirdRatio != null" >
        third_ratio = #{record.thirdRatio,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_activity
    set activity_id = #{record.activityId,jdbcType=INTEGER},
      activity_name = #{record.activityName,jdbcType=VARCHAR},
      activity_take_count = #{record.activityTakeCount,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      delete_flag = #{record.deleteFlag,jdbcType=TINYINT},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      pic = #{record.pic,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      activity_status = #{record.activityStatus,jdbcType=TINYINT},
      first_money = #{record.firstMoney,jdbcType=DECIMAL},
      first_ratio = #{record.firstRatio,jdbcType=INTEGER},
      second_money = #{record.secondMoney,jdbcType=DECIMAL},
      second_ratio = #{record.secondRatio,jdbcType=INTEGER},
      third_money = #{record.thirdMoney,jdbcType=DECIMAL},
      third_ratio = #{record.thirdRatio,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.project.model.SysActivity" >
    update sys_activity
    <set >
      <if test="activityName != null" >
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityTakeCount != null" >
        activity_take_count = #{activityTakeCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityStatus != null" >
        activity_status = #{activityStatus,jdbcType=TINYINT},
      </if>
      <if test="firstMoney != null" >
        first_money = #{firstMoney,jdbcType=DECIMAL},
      </if>
      <if test="firstRatio != null" >
        first_ratio = #{firstRatio,jdbcType=INTEGER},
      </if>
      <if test="secondMoney != null" >
        second_money = #{secondMoney,jdbcType=DECIMAL},
      </if>
      <if test="secondRatio != null" >
        second_ratio = #{secondRatio,jdbcType=INTEGER},
      </if>
      <if test="thirdMoney != null" >
        third_money = #{thirdMoney,jdbcType=DECIMAL},
      </if>
      <if test="thirdRatio != null" >
        third_ratio = #{thirdRatio,jdbcType=INTEGER},
      </if>
    </set>
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.project.model.SysActivity" >
    update sys_activity
    set activity_name = #{activityName,jdbcType=VARCHAR},
      activity_take_count = #{activityTakeCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      pic = #{pic,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      activity_status = #{activityStatus,jdbcType=TINYINT},
      first_money = #{firstMoney,jdbcType=DECIMAL},
      first_ratio = #{firstRatio,jdbcType=INTEGER},
      second_money = #{secondMoney,jdbcType=DECIMAL},
      second_ratio = #{secondRatio,jdbcType=INTEGER},
      third_money = #{thirdMoney,jdbcType=DECIMAL},
      third_ratio = #{thirdRatio,jdbcType=INTEGER}
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
</mapper>